################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Playground/FileContentIndex
/WebApiFundamentals/obj/Debug/net6.0/WebApiFundamentals.GeneratedMSBuildEditorConfig.editorconfig
/WebApiFundamentals/obj/Release/net6.0/WebApiFundamentals.GlobalUsings.g.cs
/WebApiFundamentals/obj/Release/net6.0/WebApiFundamentals.GeneratedMSBuildEditorConfig.editorconfig
/WebApiFundamentals/obj/Release/net6.0/WebApiFundamentals.csproj.AssemblyReference.cache
/WebApiFundamentals/obj/Release/net6.0/WebApiFundamentals.AssemblyInfoInputs.cache
/WebApiFundamentals/obj/Release/net6.0/WebApiFundamentals.AssemblyInfo.cs
/WebApiFundamentals/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/.vs/Playground/v17/.wsuo
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/WebApiFundamentals/obj/Release/net6.0/WebApiFundamentals.assets.cache
/WebApiFundamentals/obj/Debug/net6.0/WebApiFundamentals.csproj.AssemblyReference.cache
/WebApiFundamentals/obj/Debug/net6.0/WebApiFundamentals.assets.cache
/WebApiFundamentals/obj/WebApiFundamentals.csproj.nuget.g.props
/WebApiFundamentals/obj/WebApiFundamentals.csproj.nuget.dgspec.json
/WebApiFundamentals/obj/project.nuget.cache
/WebApiFundamentals/obj/project.assets.json
/WebApiFundamentals/.vs/WebApiFundamentals/FileContentIndex/f5718ad4-fd43-430a-a71e-d1942ec45c04.vsidx
/WebApiFundamentals/.vs/WebApiFundamentals/FileContentIndex/61f8b297-72d3-4822-9d56-7c4e4e730d9d.vsidx
/WebApiFundamentals/.vs/WebApiFundamentals/FileContentIndex/6141e8b8-f07a-4708-93ba-226d81e34a66.vsidx
/WebApiFundamentals/.vs/WebApiFundamentals/FileContentIndex/3867d47f-b27b-40e2-b70f-c339d7c07cf3.vsidx
/WebApiFundamentals/.vs/WebApiFundamentals/FileContentIndex/35b4ff8e-4518-4143-b12d-0fd899770d3f.vsidx
/WebApiFundamentals/.vs/WebApiFundamentals/FileContentIndex/322701f1-7e7f-436e-a956-189448b504a4.vsidx
/WebApiFundamentals/.vs/WebApiFundamentals/FileContentIndex/2207e49a-6a2a-43a9-aaab-90dc6265f857.vsidx
/WebApiFundamentals/.vs/WebApiFundamentals/FileContentIndex/0d46eb57-9544-4e15-a7f6-69cc9ab00412.vsidx
